@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$brand-primary: #eb3349;
$brand-secondary: #f45c43;
$color-grey: #222;
$color-white: #f2f2f2;
$padding: 2rem;
$margin: 2rem;
$background-gradient: linear-gradient(to bottom right, $brand-primary, $brand-secondary);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6rem;
  color: $color-grey;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.header {
  background: linear-gradient(to bottom right, rgba($brand-primary, .9), rgba($brand-secondary, .9)), url("/src/cinema-hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $color-white;
  padding: $padding;

  &__title {
    font-size: 3rem;
    line-height: 2.5rem;
    display: block;
    margin: 5rem auto;
    animation: fade-top 1s ease-in-out;
  }
}

#hollywood-hero {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100%;
}

.search {
  margin: $margin auto;
  text-align: center;

  &__field {
    color: $color-grey;
    border: 1px solid $color-white;
    border-radius: .25rem;
    padding: 1rem;
    transition: all 1s;

    &:hover {
      border: 1px solid $brand-primary;
    }

    &:focus {
      background-color: $brand-primary;
      color: $color-white;
    }
  }
}

.results {
  display: grid;
  grid-gap: $margin;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 90vw;
  margin: auto;
  padding-bottom: 12rem;
}

.movie {
  padding: $padding;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .25);

  &__poster {
    margin-bottom: 1rem;
  }

  &__title {
    text-align: center;
    color: $brand-primary;
    transform: translateY(-1rem);
  }
}

.btn {
  background-color: $brand-primary;
  color: $color-white;
  font-weight: 700;
  padding: 1rem 2.5rem;
  margin: $margin 0;
  border: none;
  border-radius: .25rem;
  text-decoration: none;
  transition: all .5s;

  &:hover {
    background-color: $brand-secondary;
  }
}

.responsive {
  width: 100%;
  height: auto;
}

input[type="text"] {
  font-size: inherit;
  -webkit-appearance: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $background-gradient;
  color: $color-white;
  padding: $padding;
}

@keyframes fade-top {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

/* NAVBAR */

.navbar {
  height: 3rem;
  padding: .5rem 0;
  background: $brand-primary;
  color: $color-white;

  &__brand {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem ;
  }

  &__toggle-menu {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15rem;
    max-height: 0px;
    /* Transitions */
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    background: $brand-primary;
    color: $color-white;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 3rem auto 5rem;
    }
    
    li {
      margin-bottom: 2rem;
    }
    
    a {
      transition: color 0.5s;
      text-decoration: none;
      color: $color-white;
    }
    
    a:hover {
      color: $color-grey;
    }
  }
}

input#navbar__burger {
  display: none;
}

label {
  float: right;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/895432/burger.png) right center no-repeat;
  background-size: contain;
  cursor: pointer;
}

input#navbar__burger:checked + label {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/895432/cross.png) right center no-repeat;
  background-size: cover;
  transform: translateX(.25rem);
}

input#navbar__burger:checked ~ .navbar__toggle-menu {
  max-height: 100vh;
}