        <footer class="footer">
            <div>
                <p>A project by Daniel Flege | Powered by ☕ in 2019</p>
            </div>
        </footer>
    </div>
    <script src="../src/js/main.js"></script>
</body>
</html>