<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple Movie Database</title>
    <meta name="description" content="Search your favorite movies with this simple movie database." />
    <link rel="stylesheet" href="/src/app.css" />
</head>
<body>
    <div class="page-container">
        <nav>
            <div class="navbar">
                <span class="navbar__brand">Simple Movie Database</span>
                <input type="checkbox" id="navbar__burger" value="1">
                <label for="navbar__burger"></label>
                <div class="navbar__toggle-menu">
                    <ul>
                        <li><a href="#">Your Wishlist</a></li>
                        <li><a href="#">Your Collection</a></li>
                        <li><a href="#">The Project</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>