<% include partials/header %>
<script>
    <%
        // Extract the movie id starting from "tt" all the way to the end of the url
        let movieId = url.slice(url.search("-tt") + 1, url.length);
        console.log(movieId);
    %>
</script>
<h1>Movie Details Page</h1>
<p>The movie url entered is: <%= url %></p>
<p>The requested movie id is: <%= movieId %></p>
<% include partials/footer %>