<% include partials/header %>
        <header class="header">
            <h1 class="header__title">Simple Movie Database</h1>
        </header>
        <section class="search">
            <input type="text" class="search__field" placeholder="Insert Movie or Series Tile here">
            <button class="btn search__button">Search</button>
        </section>
        <section class="results">
            <h2 class="movie__title">Please enter the movie you want to see</h2>
            <!--
            <div class="movie">
              <div class="movie__poster">
                Movie poster goes here
              </div>
              <div class="movie__output">
                <h2>Movie Title</h2>
                API results go here
              </div>
            </div> -->
        </section>
<% include partials/footer %>