@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6rem;
  color: #222; }

.page-container {
  position: relative;
  min-height: 100vh; }

.header {
  background: linear-gradient(to bottom right, rgba(235, 51, 73, 0.9), rgba(244, 92, 67, 0.9)), url("/src/cinema-hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #f2f2f2;
  padding: 2rem; }
  .header__title {
    font-size: 3rem;
    line-height: 2.5rem;
    display: block;
    margin: 5rem auto;
    animation: fade-top 1s ease-in-out; }

#hollywood-hero {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100%; }

.search {
  margin: 2rem auto;
  text-align: center; }
  .search__field {
    color: #222;
    border: 1px solid #f2f2f2;
    border-radius: .25rem;
    padding: 1rem;
    transition: all 1s; }
    .search__field:hover {
      border: 1px solid #eb3349; }
    .search__field:focus {
      background-color: #eb3349;
      color: #f2f2f2; }

.results {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 90vw;
  margin: auto;
  padding-bottom: 12rem; }

.movie {
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); }
  .movie__poster {
    margin-bottom: 1rem; }
  .movie__title {
    text-align: center;
    color: #eb3349;
    transform: translateY(-1rem); }

.btn {
  background-color: #eb3349;
  color: #f2f2f2;
  font-weight: 700;
  padding: 1rem 2.5rem;
  margin: 2rem 0;
  border: none;
  border-radius: .25rem;
  text-decoration: none;
  transition: all .5s; }
  .btn:hover {
    background-color: #f45c43; }

.responsive {
  width: 100%;
  height: auto; }

input[type="text"] {
  font-size: inherit;
  -webkit-appearance: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #eb3349, #f45c43);
  color: #f2f2f2;
  padding: 2rem; }

@keyframes fade-top {
  0% {
    transform: translateY(-2rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

/* NAVBAR */
.navbar {
  height: 3rem;
  padding: .5rem 0;
  background: #eb3349;
  color: #f2f2f2; }
  .navbar__brand {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem; }
  .navbar__toggle-menu {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15rem;
    max-height: 0px;
    /* Transitions */
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    background: #eb3349;
    color: #f2f2f2; }
    .navbar__toggle-menu ul {
      list-style-type: none;
      padding: 0;
      margin: 3rem auto 5rem; }
    .navbar__toggle-menu li {
      margin-bottom: 2rem; }
    .navbar__toggle-menu a {
      transition: color 0.5s;
      text-decoration: none;
      color: #f2f2f2; }
    .navbar__toggle-menu a:hover {
      color: #222; }

input#navbar__burger {
  display: none; }

label {
  float: right;
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/895432/burger.png) right center no-repeat;
  background-size: contain;
  cursor: pointer; }

input#navbar__burger:checked + label {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/895432/cross.png) right center no-repeat;
  background-size: cover;
  transform: translateX(0.25rem); }

input#navbar__burger:checked ~ .navbar__toggle-menu {
  max-height: 100vh; }
